
/*

	Author:   Josh McDonald
	Twitter:  @onestepcreative
	Website:  http://onestepcreative.com

*/

/* ================================================== */
/* === BASE STYLES AND PRECISE FOR MOBILE DEVICES === */
/* ================================================== */

@media only screen and (min-width: 320px) {

.postContent { }

.postContent .alignleft, .postContent img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}

.postContent .alignright, .postContent img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}

.postContent .aligncenter, .postContent img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}

.wp-caption { }

} /* // END MIN 320PX */



/* =================================================================== */
/* === PORTRAIT IPADS & LARGER SCREENS / LAPTOPS(SMALLER) & TABLES === */
/* =================================================================== */

@media only screen and (min-width: 768px) {

/* =================================================== */
/* === GRID OPTIONS - BASED ON THE 1140 GRID SYTEM === */
/* =================================================== */

.onecol { width: 4.85%; }	   /* // GRID 0 */
.twocol { width: 13.45%; }	   /* // GRID 1 */
.threecol { width: 22.05%; }   /* // GRID 2 */
.fourcol { width: 30.75%; }	   /* // GRID 3 */
.fivecol { width: 39.45%; }	   /* // GRID 4 */
.sixcol { width: 48%; }		   /* // GRID 5 */
.sevencol { width: 56.75%; }   /* // GRID 6 */
.eightcol { width: 65.4%; }	   /* // GRID 7 */
.ninecol { width: 74.05%; }	   /* // GRID 8 */
.tencol { width: 82.7%; }	   /* // GRID 9 */
.elevencol { width: 91.35%; }  /* // GRID 10 */
.twelvecol { width: 100%; }	   /* // GRID 11 */

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol,
.sevencol, .eightcol, .ninecol, .tencol, .elevencol {		   /* // GRID 12 */
	float: left;
	position: relative;
	margin-right: 3.8%;
	}

.twelvecol {
    float: left;
    position: relative;
    }

.last {
	margin-right: 0;
	float: right;
	}

/* ============================================ */
/* ===== END GRID OPTIONS - DO NOT REMOVE ===== */
/* ============================================ */


.wrap {
    max-width: 960px;
}

.menu ul {
	background: #eee;
	}

.menu ul li {
	float: left;
	position: relative;
	}

.menu ul li ul.sub-menu,
.menu ul li ul.children {
	width: 200px;
	border: 1px solid #ccc;
	border-top: 0;
	position: absolute;
	display: none;
	z-index: 8999;
	}

.menu ul li ul.sub-menu li a,
.menu ul li ul.children li a {
	padding-left: 10px;
	border-right: 0;
	display: block;
	width: 180px;
	border-bottom: 1px solid #ccc;
	}

.menu ul li ul.sub-menu li:last-child a,
.menu ul li ul.children li:last-child a {
	border-bottom: 0;
	}

.menu ul li:hover ul {
	top: auto;
	display: block;
	}

.postContent {
	color: #555;
	}

.sidebar {
	margin-top: 2.2em;
	}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
	}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
	}

.widget ul li {
	margin-bottom: 0.75em;
	}

.widget ul li ul {
	margin-top: 0.75em;
	padding-left: 1em;
	}


/* ========================================= */
/* === DESKTOP SCREENS / FULLY ENHANCED  === */
/* ========================================= */

@media only screen and (min-width: 1030px) {

/*
.wrap {
	max-width: 1140px;
	}
*/

} /* // END MIN 1030PX */




/* ============================================================ */
/* === DESKTOP SCREENS / FULL SIZE LAYOUT & FULLY ENHANCED  === */
/* ============================================================ */

@media only screen and (min-width: 1240px) {



} /* // END MIN 1240PX */


